.stubContainer {
    border: none;
    border-radius: 10px;
    width: 70vh;
    height: 70vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #ffffff;
}

.stubTitle {
    margin: 20px;
    padding: 5px 0px;
    text-align: center;
    outline: none;
    font-size: 30px;
    color: #a1a1a1;
}
